@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
        url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
        url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
        url('../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
        url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
        url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
        url('../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Termina-W00-Demi';
    src: url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.eot');
    src: url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.svg#Termina W00 Demi') format('svg'),
        url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.ttf') format('truetype'),
        url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.woff') format('woff'),
        url('../assets/fonts/Termina-W00-Demi/Termina-W00-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../assets/fonts/Rubik-Medium/Rubik-Medium.eot');
    src: url('../assets/fonts/Rubik-Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.svg#Rubik-Medium') format('svg'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.ttf') format('truetype'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.woff') format('woff'),
        url('../assets/fonts/Rubik-Medium/Rubik-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.body {
    font-family: 'ProximaNova-Regular';
    font-size: 1em;
    color: #ffffff;
    margin: 0%;
}

.mobile { display: none !important; }
.desktop { display: block !important; } 

.background-deploy {
    position: relative;
    background-color: #1E1E1E;
}

/* utilizados em varios lugares */
.title-termina {
    font-family: "Termina-W00-Demi";
    font-size: 2em;
}
.title-proxima {
    font-family: 'ProximaNova-Bold';
    font-size: 3.5em;
}
.bg-default {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.txt-black {
    color: #000000;
}

/* BOTÕES */
.btn-purple {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ProximaNova-Bold';
    font-size: 2em;
    color: #ffffff;
    background-color: #8d4bba;
    border: 0.125rem solid #8d4bba;
    padding: 1% 5%;
    text-decoration: none;
    border-radius: 3.125rem;
}
.btn-purple img {
    width: 1.5em;
    margin-left: 1.875rem;
    border: 0.125rem solid #8d4bba;
    border-radius: 50%;
}
.btn-purple:hover {
    background-color: #ffffff;
    color: #8d4bba;
}

/* Detalhes do Fundo - semelhante à LP Mentoria */
.img-detail1 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 35%;
}
.img-detail2 {
    position: absolute;
    top: 170%;
    right: 0;
    width: 60%;
}
.img-detail3 {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40%;
}
.img-detail4 {
    position: absolute;
    top: 44%;
    left: 0;
    width: 40%;
}

/* Detalhes figuras - balões */
.img-figures1 {
    position: absolute;
    top: 7%;
    left: 22%;
    width: 10%;
}
.img-figures2 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 10%;
}
.img-figures3 {
    position: absolute;
    top: 6.7%;
    right: 10%;
    width: 10%;
}
.img-figures4 {
    position: absolute;
    top: 33.7%;
    left: 3%;
    width: 8%;
}
.img-figures5 {
    position: absolute;
    top: 35.2%;
    right: 7%;
    width: 12%;
}
.img-figures6 {
    position: absolute;
    top: 55%;
    right: 0;
    width: 7%;
}
.img-figures7 {
    position: absolute;
    top:64.8%;
    right: 10%;
    width: 7%;
    z-index: 500;
}
/* .img-figures8 {
    position: absolute;
    top:65.8%;
    left: 6%;
    width: 11%;
}
.img-figures9 {
    position: absolute;
    top:71.5%;
    right: 0;
    width: 13%;
}
.img-figures10 {
    position: absolute;
    top:81.5%;
    left: 0;
    width: 9%;
}
.img-figures11 {
    position: absolute;
    top:91.5%;
    right: 8%;
    width: 12%;
}
.img-figures12 {
    position: absolute;
    bottom:0;
    left: 2%;
    width: 20%;
} */

/* NAV */
.nav-deploy{
    position: fixed;
    top: 0;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    height: 8vh;
    width: 96%;
    z-index: 500;
}

.logo-deploy {
    width: 60%;
}

.links {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'ProximaNova-Regular';
    color: #ffffff;
}

/* Primeiro Scroll */
.home{
    background: linear-gradient(to bottom, #000000 0, #1E1E1E 100%);
}

.home-call{
    background-color: rgba(217, 217, 217, 0.1); 
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
}

.home-description {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
}

.home-description span{
    font-size: 0.8em;
    color: #FF8EBE;
}

.home-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 2.5em;
}

.title-home-video {
    font-size: 1.6em;
}
.title-home-video span {
    font-family: "ProximaNova-Bold";
}
.home-video iframe {
    position: relative;
    height: 26rem;
    width: 42%;
    border-radius: 1.25rem;
}
.home-video img {
    width: 3.5em;
}

/* Segundo Scroll */
.courses {
    padding: 5% 15%;
}
.card-courses-align {
    display: flex;
    gap: 5%;
    margin-bottom: 3%;
}
.card-courses {
    width: 100%;
    background: linear-gradient(0deg, rgba(139, 139, 139, 0.1) 1.39%, rgba(255, 255, 255, 0.1) 75%);
    backdrop-filter: blur(4.2577rem);
    -webkit-backdrop-filter: blur(4.2577rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5% 3%;
    border-radius: 1.25rem;
    gap: 2em;
}
.title-courses {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Termina-W00-Demi";
    font-size: 3em;
    text-transform: uppercase;
}
.image-courses {
    height: 18vh;
    display: flex;
    align-items: center;
}
.image-courses img {
    width: 100%;
}
.division {
    border-bottom: 0.0625rem solid #B935F8;
    width: 70%;
    margin: 5% auto;
}
.description-courses {
    font-size: 1.3em;
}
.price-courses {
    font-size: 1.8em;
    margin: 5% 0 3%;
}
.old-value span {
    font-family: "ProximaNova-Bold";
}
.new-value span {
    font-family: "ProximaNova-Bold";
    font-size: 2.2em;
    color: #FF87BE;
}
.bottom-card {
    width: 100%;
}
.bottom-card .btn-purple {
    width: 90%;
}
.card-courses-premium {
    width: 90%;
    background: linear-gradient(0deg, rgba(139, 139, 139, 0.1) 1.39%, rgba(255, 255, 255, 0.1) 75%);
    backdrop-filter: blur(4.2577rem);
    -webkit-backdrop-filter: blur(4.2577rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    border-radius: 1.25rem;
    box-shadow: 0 0 5.3125rem rgba(255, 255, 255, 0.3);
    margin-top: 5%;
}
.title-premium {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.title-premium span {
    font-family: "Termina-W00-Demi";
    font-size: 2.3em;
    background-image: linear-gradient(to left, #FF87BE, #B935F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
}
.card-courses-premium .division {
    width: 30%;
    margin: 3% auto;
}
.card-courses-premium .description-courses {
    padding: 0 20% 5%;
}
.benefits-field {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}
.benefits img {
    width: 1.5em;
    margin-right: 1rem;
}
.card-courses-premium .new-value span {
    font-size: 2.5em;
}
.card-courses-premium .btn-purple {
    width: 90%;
}

/* Terceiro Scroll */
.black-class{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 4% 5%;
    gap: 5%;
}

.black-class-image {
    width: 50%;
}

.black-class-image img{
    width: 100%;
    border-radius: 1.875rem;
}

.black-class-info {
    width: 50%;
}
.title-black-class {
    display: flex;
    font-family: "ProximaNova-Bold";
    font-size: 2.3em;
    margin: 2% 0 4%;
}
.title-black-class img {
    width: 3.5em;
    margin-right: 1rem;
}
.black-class-info p {
    font-size: 1.5em;
    padding-right: 15%;
    margin-bottom: 2%;
}
.black-class-info p span {
    font-family: "ProximaNova-Bold";
}
.black-class-info .btn-purple {
    padding: 1% 15%;
}

/* Quarto Scroll */

.migration{
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0%;
}

.migration-align{
    display: flex;
    gap: 5%;
    padding-top: 5%;
}

.card-migration{
    width: 100%;
    background-color: rgba(141, 75, 186, 0.2);
    border: 0.0625rem solid #8d4bba;
    border-radius: 1.25rem;
    padding: 3% 1%;
    text-align: left;
    font-family: "ProximaNova-Bold";
    font-size: 1.8em;
}

.card-migration img{
    width: 25%;
    margin-bottom: 10%;
}